* {
  margin: 0;
  padding: 0;
  font-family: "Popping", sans-serif;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #080808;
  color: #fff;
}

.wrapper {
  overflow-y: auto;
  overflow-x: hidden;
  perspective: 10px;
}

#header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

#header {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(
      to bottom,
      rgba(245, 246, 252, 0.52),
      rgba(117, 19, 93, 0.73)
    ),
    url(images/backg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 20%;
  position: relative;
  z-index: -1;
}

.container {
  padding: 10px 10%;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  background: transparent;
}

.logo {
  width: 140px;
  z-index: 10;
}

nav ul li {
  display: inline;
  list-style: none;
  margin: 10px 20px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  position: relative;
}

nav ul li a::after {
  content: "";
  width: 0%;
  height: 3px;
  background: #ff004f;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.4s;
}

nav ul li a:hover::after {
  width: 100%;
}

.header-text {
  margin-top: 20%;
  font-size: 40px;
  text-align: left;
  position: absolute;
  top: 2%;
  left: 20%;
  transform: translate(-20%, -10%);
  color: white;
}

.header-text h1 {
  font-size: 70px;
  margin-top: 20px;
  z-index: 10;
  font-weight: 10;
}

.header-text p {
  font-size: 60px;
  font-weight: 600;
  margin-bottom: 20px;
}

.header-text h1 span {
  color: #ff004f;
  font-size: 90px;
  z-index: 10;
  font-weight: 700;
  text-shadow: 3px 3px 6px grey;
}

/* ----------------about ---------------------------*/
#about {
  padding-top: 140px;
  padding-bottom: 80px;
  color: #ababab;
}

.row {
  display: flex;
  justify-content: space-between;
  flex: wrap;
}

.about-col-1 {
  flex-basis: 35%;
}

.about-col-1 img {
  width: 100%;
  border-radius: 18px;
}

.about-col-2 {
  flex-basis: 60%;
}

.sub-title {
  font-size: 60px;
  font-weight: 600;
  color: #fff;
}

.tab-titles {
  display: flex;
  margin: 20px 0 40px;
}

.tab-links {
  margin-right: 50px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  position: relative;
}

.tab-links::after {
  content: "";
  width: 0;
  height: 3px;
  background: #ff004f;
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: 0.4s;
}

.tab-links.active::after {
  width: 70%;
}

.tab-contents ul li {
  list-style: none;
  margin: 10px 0;
  margin-right: 30px;
}

.tab-contents ul li span {
  color: #ffffff;
  font-size: 15px;
  text-align: center;
}

.tab-contents ul li span:nth-child(1) {
  color: #ff0051;
  font-size: 16px;
}

.tab-contents {
  display: none;
}

.tab-contents.active-tab {
  display: block;
}

.card {
  background: linear-gradient(
    45deg,
    #ff0051b8,
    #ff4b2bb8,
    rgba(255, 255, 255, 0.755)
  );
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 50px;
  width: 95px;
  height: 95px;
  text-align: center;
  margin-right: 30px;
  transition: 0.3s ease;
}

.card:hover {
  transform: translateY(-10px);
}

.card:last-child {
  margin-right: 0;
}

.card i {
  font-size: 24px;
  margin-bottom: 10px;
  color: #192590;
  text-align: center;
}

.card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* ---------services------- */

#services {
  padding: 30px 0;
}

.services-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
  overflow: hidden;
}

.services-list div {
  background: #262626;
  padding: 40px;
  font-size: 17px;
  font-weight: 300;
  border-radius: 12px;
  transition: background 0.5s, transform 0.5s;
  position: relative;
}

.services-list div i {
  font-size: 50px;
  margin-bottom: 30px;
}

.services-list div h2 {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 18px;
}

.services-list div a {
  text-decoration: none;
  color: #fff;
  font-size: 17px;
  display: inline-block;
  margin-top: 20px;
}

.services-list div a::after {
  content: "";
  width: 0%;
  height: 3px;
  background: #fff;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.4s;
}

.services-list div a:hover::after {
  width: 80%;
}

.services-list div:nth-of-type(1):hover {
  background: #ff004f;
  transform: translate(-30px, -30px);
}

.services-list div:nth-of-type(2):hover {
  background: #ff004f;
  transform: translateY(-30px);
}

.services-list div:nth-of-type(3):hover {
  background: #ff004f;
  transform: translate(30px, -30px);
}

/* -------------portfolio---------- */
#portfolio {
  padding: 50px 0;
}

.work-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}

.work {
  border-radius: 12px;
  position: relative;
  overflow: hidden;
}

.work img {
  width: 100%;
  height: 360px;
  border-radius: 12px;
  display: block;
  transition: transform 0.5s;
  object-fit: cover;
}

.layer {
  width: 100%;
  height: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.6), #ff004f);
  border-radius: 12px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  font-size: 17px;
  transition: height 0.5s;
}

.layer h3 {
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 20px;
}

.layer a {
  margin-top: 20px;
  text-decoration: none;
  font-size: 18px;
  line-height: 60px;
  width: 60px;
  color: #ff004f;
  background: #fff;
  height: 60px;
  border-radius: 50%;
  text-align: center;
}

.work:hover img {
  transform: scale(1.1);
}

.work:hover .layer {
  height: 100%;
}

.btn {
  display: block;
  margin: 50px auto;
  width: fit-content;
  border: 1px solid #ff004f;
  padding: 14px 50px;
  border-radius: 6px;
  text-decoration: none;
  color: white;
  transition: background 0.5s;
}

.btn:hover {
  background: #ff004f;
}

/* --------------------contac-prelude-------- */

.prelude {
  margin: 10px auto;
  margin-top: 0;
  margin-bottom: 20px;
  width: 65%;
  display: flex;
  align-items: center;
  justify-items: center;
  text-align: center;
  font-size: 20px;
  font-weight: 300;
}

.prelude span {
  color: #ff004f;
  font-size: 35px;
  font-weight: 600;
}

/* -------------------------contact-------------------------- */
.contact-left {
  flex-basis: 35%;
}

.contact-right {
  flex-basis: 60%;
}

.contact-left p {
  margin-top: 30px;
}

.contact-left p i {
  color: #ff004f;
  margin-right: 15px;
  font-size: 25px;
}

.social-icons {
  margin-top: 30px;
}

.social-icons a {
  text-decoration: none;
  font-size: 30px;
  margin-right: 15px;
  color: #ababab;
  display: inline-block;
  transition: transform 0.5s;
}

.social-icons a:hover {
  color: #ff004f;
  transform: translateY(-5px);
}

.btn.btn2 {
  display: inline-block;
  background: #ff004f;
  transition: transform 0.5s;
}

.btn.btn2:hover {
  transform: translateY(-5px);
}

.contact-right form {
  width: 100%;
}

form input,
form textarea {
  width: 100%;
  border: 0;
  outline: none;
  background: #262626;
  padding: 15px;
  margin: 15px;
  color: #fff;
  font-size: 18px;
  border-radius: 10px;
}

form .btn2 {
  padding: 14px auto;
  font-size: 18px;
  margin-top: 20px;
  cursor: pointer;
}

.copyright {
  width: 100%;
  text-align: center;
  padding: 25px 0;
  background: #262626;
  font-weight: 300;
  margin-top: 20px;
}

.copyright i {
  color: #ff004f;
}

nav .fa-solid {
  display: none;
}

/* ------------mediaq------------- */

@media only screen and (max-width: 667px) {
  body {
    overflow-x: hidden !important;
  }

  #header::before {
    content: "";
  }

  #header {
    width: 100%;
    height: 75vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), #422a32),
      url(images/backg.jpg);
  }

  .header-text {
    margin-top: 70%;
    font-size: 16px;
  }

  .header-text p {
    font-size: 30px;
    font-weight: 700;
    margin-left: 0px;
  }
  .header-text h1 {
    font-size: 20px;
  }

  .header-text h1 span {
    font-size: 50px;
  }
  nav .fa-solid {
    display: block;
    font-size: 25px;
  }

  nav ul {
    background: linear-gradient(
      to bottom,
      rgba(245, 246, 252, 0.52),
      rgba(117, 19, 93, 0.73)
    );
    position: fixed;
    top: 0;
    right: -200px;
    width: 200px;
    height: 100vh;
    padding-top: 50px;
    z-index: 2;
    transition: right 0.7s;
  }

  nav ul li {
    display: block;
    margin: 25px;
  }

  #opened {
    position: absolute;
    right: 50px;
    transition: right 0.7s;
  }

  nav ul i {
    position: absolute;
    top: 25px;
    left: 25px;
    cursor: pointer;
    z-index: 1;
  }

  #header .container {
    padding: 10px 5%;
  }

  .sub-title {
    font-size: 40px;
  }

  .row {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .about-col-1 {
    position: relative;
  }

  .about-col-1 img {
    width: 100%;
    padding: 20px auto;
    margin-bottom: 30px;
    height: 300px;
    object-fit: cover;
    object-position: 50% 10%;
    position: absolute;
    top: -100px;
    left: 0;
  }

  .about-col-2 {
    margin-top: 225px;
  }
  .tab-links {
    font-size: 15px;
    margin-right: 20px;
  }

  #about {
    padding-top: 30px;
    padding-bottom: 80px;
    color: #ababab;
  }

  nav ul li a::after {
    content: "";
    width: 0%;
    height: 0px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.4s;
  }

  .services-list .hidden:nth-child(2) {
    transition: all 1.5s;
    transform: translateY(-30%);
  }

  .services-list div:nth-of-type(1):hover {
    background: #ff004f;
    transform: translateY(-20px);
  }

  .services-list div:nth-of-type(2):hover {
    background: #ff004f;
    transform: translateY(-20px);
  }

  .services-list div:nth-of-type(3):hover {
    background: #ff004f;
    transform: translateY(-20px);
  }

  /* --------------------contac-prelude-------- */

  .prelude {
    font-size: 20px;
    font-weight: 200;
    width: 90%;
  }

  .prelude span {
    color: #ff004f;
    font-size: 30px;
    font-weight: 500;
  }
}

#msg {
  color: #ff004f;
  margin-top: -40px;
  display: block;
}

.hidden {
  opacity: 0;
  filter: blur(3px);
  transition: all 1.5s;
  transform: translateY(-20%);
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateY(0);
}

.services-list .hidden:nth-child(1) {
  transition: all 1.5s;
  transform: translateY(-30%);
}

.services-list .hidden:nth-child(2) {
  transition: all 1.5s;
  transform: translateY(30%);
}

.services-list .show:nth-child(3) {
  transition: all 2s;
  transform: translateY(-30%);
}

.services-list .show:nth-child(1) {
  transition: all 1.5s;
  transform: translateY(0);
}

.services-list .show:nth-child(2) {
  transition: all 2s;
  transform: translateY(0);
}

.services-list .show:nth-child(3) {
  transition: all 1.5s;
  transform: translateY(0);
}
